<%- include('./partials/header') -%>
<section class="main">
    <div class="transparent"></div>
    <h1 class="head"><span>Organize<br></span> your day-to-day <br> activities!</h1>
</section>
<%- include('./partials/footer') -%>